import os
import pandas as pd
import numpy as np

dir = '\\Users\\user\\Desktop\\'
files = os.listdir(dir)

for file in files:
    fullname_file = os.path.join(dir, file)
    print(fullname_file)

base_dir = '\\Users\\user\\Desktop'
excel_file = 'PandasReadExcelPlz.xlsx'
excel_dir = os.path.join(base_dir, excel_file)

dos_from_excel = pd.read_excel(excel_dir,
                              sheet_name = 'OSd',
                              header = 1,
                              dtype = {'Subject_No': str,
                                       'OS_months': float,
                                        'event': bool},
                              na_values = 'NaN',
                              nrows = 100,
                              comment = '#').dropna(axis= 1)

round(dos_from_excel, 1)

os_from_excel = pd.read_excel(excel_dir,
                              sheet_name = 'OSs',
                              header = 1,
                              dtype = {'Subject_No': str,
                                       'OS_months': float,
                                        'event': bool},
                              na_values = 'NaN',
                              nrows = 100,
                              comment = '#').dropna(axis= 1)

round(os_from_excel, 1)

data2 = dos_from_excel
data1 = os_from_excel

from lifelines import KaplanMeierFitter
from lifelines import NelsonAalenFitter
from lifelines.statistics import logrank_test

kmf = KaplanMeierFitter()
kmf.fit(data1["OS_months"], data1["event"], label="METI-101")
ax_kmf = kmf.plot(ci_show=False)
kmf.fit(data2["OS_months"], data2["event"], label="control")
ax_kmf = kmf.plot(ax=ax_kmf, ci_show=False)

ax_kmf.set_xlabel('time (months)')
ax_kmf.set_ylabel('Overall Survival$(OS$)')
ax_kmf.get_figure().savefig("OSdarm.png", dpi = 300)
